* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat Regular', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'Montserrat Regular', sans-serif;
  src: url("../src/assets/fonts/montserrat.woff") format('woff'),
  url("../src/assets/fonts/montserrat.woff2") format('woff2'),
  url("../src/assets/fonts/montserrat.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Black', sans-serif;
  src: url("../src/assets/fonts/montserratblack.woff") format('woff'),
  url("../src/assets/fonts/montserratblack.woff2") format('woff2'),
  url("../src/assets/fonts/montserratblack.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Light', sans-serif;
  src: url("../src/assets/fonts/montserratlight.woff") format('woff'),
  url("../src/assets/fonts/montserratlight.woff2") format('woff2'),
  url("../src/assets/fonts/montserratlight.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Thairline', sans-serif;
  src: url("../src/assets/fonts/montserrathairline.woff") format('woff'),
  url("../src/assets/fonts/montserrathairline.woff2") format('woff2'),
  url("../src/assets/fonts/montserrathairline.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

#app {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}